{"graphicsSettings":{"uiFixedResolutionPixelsHeight":720,"uiFixedResolutionPixelsWidth":1280,"uiFreeAspectResolutionSide":"Height","uiFreeResolutionPixels":720,"uiRenderPercentage":100,"uiResolutionEditor":{"depth":0,"open":true},"uiResolutionMode":"Percentage"},"javaSettings":{"javaThreadTimeOutSeconds":5.0},"physicsSettings":{"filtersEditor":{"depth":0,"open":true},"layers":[{"guid":"7b23c15472ed495b8d1ae0513f4d8290","ignoreLayers":["7837d071654941b1aa59f6dc49bed069"],"inspectorEditor":{"depth":0,"open":false},"isDefault":true,"name":"Default"},{"guid":"7837d071654941b1aa59f6dc49bed069","ignoreLayers":["7b23c15472ed495b8d1ae0513f4d8290"],"inspectorEditor":{"depth":0,"open":false},"isDefault":false,"name":"gizmos"}],"layersEditor":{"depth":0,"open":true}},"tab":"Graphics","tagSystem":{"tags":[{"guid":"27122300bc9c4b9fb0071f3075acfcd2","name":"gizmo"}]}}