{"allowBoost":false,"allowBrightness":false,"allowColorDepth":false,"allowContrast":false,"allowHUE":false,"allowModifications":false,"allowOpacity":false,"allowSaturation":false,"allowTransparency":true,"boostBlue":0,"boostGreen":0,"boostRed":0,"brightness":0,"colordepth":0,"contrast":100,"filter":"Nearest","flipX":false,"flipY":false,"format":"RGBA4","gaussian":false,"genMipmaps":false,"grayscale":false,"height":512,"hue":180,"invertColors":true,"maxResolutionID":10,"noise":false,"originalHeight":512,"originalWidth":512,"quality":100,"saturation":100,"sepia":false,"sharpen":false,"sketch":false,"vignette":false,"width":512,"wrap":"MirrorRepeat"}